header{
  background-color: #ffe524;
  padding: 0;
  margin: 0;
}
h1 {
  color: #b32f52;
  font-weight: normal;
  margin: 0;
  line-height: 1.5;
  font-family: 'Sigmar One', cursive;
  text-align: center;
  }
  nav ul {
    list-style-type: none;
    padding: 0.5em 0;
    margin: 0.5em 0;
    text-align: center;
  }
  nav li {
    display: inline;
  }
  nav a {
    display: inline-block;
    padding: 0.50em 0.50em;
    margin: 0.05em;
    background-color: #b2a215;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    font-family: georgia;
  }
a:hover {
  background-color: #cc3865;
}
p {
  font-family: georgia;
  margin: 1rem;
}
h2, h3 {
  font-family:'Sigmar One', cursive;
  color: #cc3865;
  padding: 1rem;
}
h2{
  border-top: 3px solid;
  border-color: #ffe524;
}
ul
{
  list-style-type: none;
  padding: 0;
}
dt{
  font-weight: bold;
  line-height: 1.5rem;
}
dd{
  margin: 0;
}
dl{
  margin: 1rem;
}
.quote{
  font-style: italic;
  color: #b2a215;
  text-align: center;
  margin: 0;
  padding: 1rem;
}
.mark{
  color: #b2a215;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  line-height: 0.5;
}
.grams{
  font-style: italic;
}

figure {
  border: 5px;
  border-style: solid;
  border-radius: 10px;
  padding: 0.5em;
  margin: 1em;
  color: #b2a215;
  background-color: #fffce0;
}
figcaption{
  font-style: italic;
  color: black;
  text-align: center;
  font-size: 1rem;
}
img{
  width: 100%;
}
footer{
  background-color: #ffe524;
  padding: 1rem;
  text-align: center;
  font-size: 0.5rem;
}
a{
  color: #cc3865;
}
body{
  margin: 0;
}
