header{
  background-color: #ffe524;
  padding: 0;
  margin: 0;
}
h1 {
  color: #b32f52;
  font-weight: normal;
  margin: 0;
  line-height: 1.5;
  font-family: 'Sigmar One', cursive;
  text-align: center;
  }
  nav ul {
    list-style-type: none;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
  }
  nav li {
    display: inline;
  }
  nav a {
    display: inline-block;
    padding: 0.50em 0.50em;
    margin: 0.05em;
    background-color: #b2a215;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    font-family: georgia;
  }
a:hover {
  background-color: #cc3865;
}
p {
  font-family: georgia;
}
h2, h3 {
  font-family:'Sigmar One', cursive;
  color: #cc3865;
}
ul
{
  list-style-type: none;
  padding: 0;
}
dt{
  font-weight: bold;
}
dd{
  margin: 0;
}
.quote{
  font-style: italic;
  color: #b2a215;
  text-align: center;
  margin: 0;
  padding: 2rem;
}
.mark{
  color: #b2a215;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 0
}
.grams{
  font-style: italic;
}
